<!doctype html>

<head>
	<link rel="stylesheet" href="/css/questions_style.css" media="screen">
</head>

<body>
	<h1>S E M ; C O L O N</h1>

	<div style="text-align:center">
		<h6 id="server_says"></h6>
		<button id="back"><b>Back to Main Menu</b></button>
	</div>

	<br><br><br>

	<div style="text-align:center">
		<table class="tg" align="center">
			<col width="70%">
			<col width="30%">

			<tr>
				<th class="tg-mid"> Question</th>
				<th class="tg-mid"> LEADERBOARD</th>
			</tr>

			<tr>
				<td class="tg-mid">

					<br><br><br>
					<h2>Submit your code</h2>
					<!-- <textarea style="align: center" id='q2_code' cols=100% rows=30% placeholder='Enter your code for this question here'></textarea>
					<br><br>
					Filename: <input type="text" style="width: 350px" id="q2_file_name" title="Enter the file's name with which it should be compiled and run">
					<br> -->
					<input id="q2_file" type="file" name="q2_file" style="width: 30%" /> <br>
					<h6 id="error_msg"></h6>		
					<button id="q2_upload"><b>Upload</b></button>
				</td>
				<td class="tg-t_ldr" id="leader_board">
				</td>
			</tr>
		</table>
	</div>
</body>